[submodule "lib/src/oauth2"]
	path = lib/src/oauth2
	url = https://github.com/dart-lang/oauth2.git
[submodule "lib/src/oauth"]
	path = lib/src/oauth
	url = https://github.com/dart-lang/oauth2.git
[submodule "lib/src/oauthn"]
	path = lib/src/oauthn
	url = https://github.com/dart-lang/oauth2.git
[submodule "lib/src/oauthv"]
	path = lib/src/oauthv
	url = https://github.com/dart-lang/oauth2.git
